@media screen and (min-width: 800px){
	.container{
		position: relative;
		width: 1000px;
		height: 500px;
		margin: 0 auto;
	}

	.page_nav{
		position: relative;
		height: 10%;
		width: 1000px;
		margin: 0 auto;
	}
}
@media screen and (max-width: 800px){
	.container{
		position: relative;
		width: 500px;
		height: 500px;
		margin: 0 auto;
	}
}

.page_nav{
	position: relative;
	height: 10%;
	width: 500px;
	margin: 0 auto;
}


.nav{
	height: 20%;
}

.nav ul{
	padding: 0;
}

.nav li{
	float: left;
	list-style: none;
	margin-right: 10px;
}

.login{
	float: right!important;
}

.content{
	position: relative;
	height: 80%;
}

.content ul li{
	list-style: none;
}

.page_nav li{
	list-style: none;
}

.page_nav .next{
	float:right;
}

.page_nav .prev{
	float:left;
}

.rfloat{
	float:right;	
}

.lfloat{
	float:left;	
}

.shopcart{
	float: right;
	width: 20px;
	height: 20px;
}

.shopcart{
	float: right;
	
}

input[type="number"] {
   width:50px;
}